<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">
   Add New PhotoNote
</button>

<!-- Modal -->
<div class="modal fade" id="modal-create" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="modal-create-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-create-label">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form name="formAddNew">
               <div class="mb-3">
                  <label class="form-label">Select a photo</label>
                  <input type="file" required class="form-control" id="image-file" accept="image/*">
                  <img id="image-preview" src="" height="200" class="d-inline-block">
               </div>
               <div class="mb-3">
                  <input type="text" required minlength="3" class="form-control" name="caption"
                     placeholder="Enter a caption for the photo">
               </div>
               <div class="mb-3">
                  <textarea class="form-control" name="description" rows="10"
                     placeholder="Enter description"></textarea>
               </div>
               <div class="mb-3">
                  <input type="text" name="sharedWith" class="form-control"
                     placeholder="Share with (optional)">
               </div>
               <div>
                  <button type="submit" class="btn btn-outline-primary">Save</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>